In [2]:
# Importation des bibliothèques nécessaires

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn import metrics 

from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error, r2_score , mean_absolute_error

#chargement de la data
# chemin de dataset
df = pd.read_csv('./heart.csv')
o2_Saturation = pd.read_csv('./o2Saturation.csv')

In [2]:
# affichage des premiere lignes de la data
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
o2_Saturation.head()

   98.6
0  98.6
1  98.6
2  98.6
3  98.1
4  97.5

In [4]:
#creation d'une nouvelle colonne 'o2saturation'sur la data
df["o2Sauration"]= o2_Saturation["98.6"]

In [5]:
# affichage des noms des colonnes
df.columns

Index(['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output', 'o2Sauration'],
      dtype='object')

In [6]:
# affichage le nobmre des lignes et des colonnes(la forme)
df.shape

(303, 15)

In [7]:
#afficher des statistiques descriptives
df.describe(include="all")

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output,o2Sauration
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554,97.480858
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835,0.346740
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,96.500000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000,97.500000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000,97.500000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000,97.500000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000,98.600000

In [8]:
#afficher des informations sur les types de donnees 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          303 non-null    int64
 1   sex          303 non-null    int64
 2   cp           303 non-null    int64
 3   trtbps       303 non-null    int64
 4   chol         303 non-null    int64
 5   fbs          303 non-null    int64
 6   restecg      303 non-null    int64
 7   thalachh     303 non-null    int64
 8   exng         303 non-null    int64
 9   oldpeak      303 non-null    float64
 10  slp          303 non-null    int64
 11  caa          303 non-null    int64
 12  thall        303 non-null    int64
 13  output       303 non-null    int64
 14  o2Sauration  303 non-null    float64
dtypes: float64(2), int64(13)
memory usage: 35.6 KB

In [9]:
#calcul du valeurs manquantes pour chaque colonne
df.isna().sum().to_frame().rename(columns={0:"number of missing values"})

             number of missing values
age                                 0
sex                                 0
cp                                  0
trtbps                              0
chol                                0
fbs                                 0
restecg                             0
thalachh                            0
exng                                0
oldpeak                             0
slp                                 0
caa                                 0
thall                               0
output                              0
o2Sauration                         0

In [10]:
# affichade des doublons
df[df.duplicated()]

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output,o2Sauration
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1,97.5

In [11]:
#supression des doublons
df = df.drop_duplicates()
df.shape

(302, 15)

In [12]:
#verification de la supression des doublons
df[df.duplicated()]

Empty DataFrame
Columns: [age, sex, cp, trtbps, chol, fbs, restecg, thalachh, exng, oldpeak, slp, caa, thall, output, o2Sauration]
Index: []

In [ ]:
# visualisation des outliers

col_num = ['age', 'trtbps', 'chol', 'thalachh', 'oldpeak']
plt.figure(figsize=(10,5))
for i in range(0,len(col_num)):
    plt.subplot(1,len(col_num),i+1)
  
    sns.boxplot(y=df[col_num[i]])
   
plt.tight_layout()

In [ ]:
#creation d'une fonction pour supprimer les outliers
def remove_outliers (df,col_num):
    filtred_df = df.copy()
    
    for i in col_num:
        Q1 = filtred_df[i].quantile(0.25)
        Q3 = filtred_df[i].quantile(0.75)
        IQR = Q3 - Q1
        
        lower_bound = Q1 - (1.5*IQR)
        upper_bound = Q3 + (1.5*IQR)
        
        filtred_df = filtred_df[(filtred_df[i]>= lower_bound)& (filtred_df[i]<=upper_bound)]
    return filtred_df

# Suppression des outliers
filtred_df = remove_outliers (df,col_num)

In [ ]:
# Visualisation des outliers après le traitement

col_num = ['age', 'trtbps', 'chol', 'thalachh', 'oldpeak']
plt.figure(figsize=(10,5))
for i in range(0,len(col_num)):
        plt.subplot(1,len(col_num),i+1)

        sns.boxplot(y=filtred_df[col_num[i]])

plt.tight_layout()

In [ ]:
# Modling
#importation de la fonction train_test_split pour depuis sklearn_model_selection
#diviser les donnes en ensembles de traitement et de test
# les caracteristiques sont tous les colonnes sauf la colonne output
#la cible est la colonne output

X_train, X_test, y_train, y_test = train_test_split(df.drop("output", axis=1),
                                                    df["output"],
                                                    test_size=0.3)

In [ ]:
#affichage des dimmentions d'entrainement et de test 
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
#definition d'une fonction pour executer le model
def run_experiment(model):
    
  #entrainement du model sur l'ensemble d'entrainement  
    model.fit(X_train, y_train)
    
  #prediction sur l'ensemble de test  
    y_pred = model.predict(X_test)
  #affichage des metriques de performance : R², MAE et RMSE  
    print("R^2 : ", r2_score(y_test, y_pred))
    print("MAE :", mean_absolute_error(y_test,y_pred))
    print("RMSE:",np.sqrt(mean_squared_error(y_test, y_pred)))

In [ ]:
#importation du model de régression lineaire depuis sklearn_linear_model 
from sklearn.linear_model import LinearRegression

#instanciation d'un model de régression lineaire
model = LinearRegression()

#execution avec le model de la régression pour evaluer la performance de mon model
run_experiment(model)